@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;

$theme-colors: ("primary": #7e57c2);

// $enable-rounded: false;

// $body-bg: var(--primary);
$body-bg: #f5f5f5;

.nav-link {
	font-weight: $font-weight-bold;
}

@import '../../../node_modules/bootstrap/scss/bootstrap';

// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
